 .card-item{
            background-color: #effeef;
            padding: 20px;
            margin: 10px auto;
            border-radius: 20px;
            border: 1px solid rgb(166, 136, 136);
        }
        input{
            padding: 10px 20px;
            border-radius: 12px;
            border: none;
        }
        button{
            padding: 10px 15px;
            border: none;
            border-radius: 12px;
            background-color: white;
            cursor: pointer;
        }