*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div{
    background-color: red;
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 4px dotted green;
    margin: 10px auto;
}