div{
    /* width: 100%;
    height: 100vh;
    background-image: url(./bmw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    background: #603278;
background: linear-gradient(40deg, rgba(96, 50, 120, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}