*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #efefef;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}




/* موبایل کوچک */
@media (max-width: 480px) { 
    div:nth-child(4), div:nth-child(5){
        display: none;
    }
}

/* موبایل بزرگ */
@media (min-width: 481px) and (max-width: 767px) { 
    
}

/* تبلت */
@media (min-width: 768px) and (max-width: 1024px) { }

/* دسکتاپ */
@media (min-width: 1025px) { }

/* دسکتاپ بزرگ */
@media (min-width: 1440px) { }
