*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: gray;
    line-height: 70px;
}
.nav-menu{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 20px;  
}
a{
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 15px;
  
}
li{
    height: 100%;
}
a:hover{
    background-color: yellow;
}