.box{
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
    left:45px
}

.child{
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: gray;
}








