div{
    background-color: red;
    width: 100px;
    height: 100px;
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.1);
        opacity: .7;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}