*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid div:nth-child(2){
    
    margin-left: auto;
}
img{
    width: 100%;
    height: auto;
}
.container-fluid div:nth-child(2){
    width: 40%;
}
input[type="text"]{
    height: 40px;
    width: 100%;
    margin-right: 50px;
    border-radius: 7px;
    background-color: #efefef;
    border: none;
    
}
input[type="text"]::placeholder{
    padding: 30px;
    font-family: ;
}